body {
  width: 70%;
  margin: auto;
  color: white;
  background-color: black;
}
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: yellow;
}
figure {
  text-align:center;
  
}
li {
  color: orange;
  list-style-type: upper-roman;
}
a {
  color: yellow; 
 }
 a:hover {
  color: orange; 
 }
 b {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
 }
.center {
  font-style: italic;
}
